.content_r {
  width: 360px;
  height: 300px;
  margin-top: 20px;
  text-align: center;
  background-color: #ffffff;
}
.content_r img {
  height: 130px;
  width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content_r p {
  font-size: 15px;
  font-weight: 800;
  color: #646775;
  padding-bottom: 20px;
}
.forms button {
  height: 33px;
  width: 100px;
  border: 1px solid #c8c5c5;
  background-color: #ffffff;
}
