<div class="news_r">
    <div class="news_r_top">
        <ul>
            <li routerLink="/pub"><img mat-card-image
                src="assets/images/fabiaowenzhang.png"></li>
            <li class="text"></li>
            <li><img mat-card-image
                src="assets/images/fabiaowenzhang.png"></li>
        </ul>
    </div>
    <div class="news_r_bottom">
       <div class="news_l_nav">
           <h4>热门标签</h4>
           <h5><a href="#">更多 < </a></h5>
       </div>
       <div class="news_r_bottom_body">
           <button><a href="#">#极光推送</a></button>  
           
           

       </div>
    </div>
</div>
