<div class="hot_l">
    <div class="news_l_nav">
        <h4>优选文章</h4>
        <h5><a>专栏首页 <   </a>
        </h5>
    </div>
    <ul class="news_l_content" id="news_l_content">
        <li *ngFor="let art of articleList">

            <h3><a href="#"> {{art.title}}</a></h3>
            <p>{{art.content}}</p>
            <ul class="little">
                <li><a href="#">极光小客服</a></li>
                <li>28天前</li>
                <li>官方活动</li>
            </ul>
            <img mat-card-image src="assets/images/baitu.png">

        </li>

    </ul>


</div>